<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771246891886-72pr2k6s2vv3k06c5m2qu1r3kgcqoe4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771246891886-72pr2k6s2vv3k06c5m2qu1r3kgcqoe4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBrLy_aFmL0zLSj6l-t3xvk1i-_v_UnJsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>771246891886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valentinaungurean.citate</string>
	<key>PROJECT_ID</key>
	<string>citate-5337b</string>
	<key>STORAGE_BUCKET</key>
	<string>citate-5337b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771246891886:ios:927e6be656a1091680577f</string>
</dict>
</plist>